@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Apply custom styles using Tailwind CSS directives */
@tailwind components;

/* Define custom components */
@layer components {
  * {
    @apply box-border m-0 p-0;
  }

  /* Custom styling for unordered lists */
}
.custom-css {
  transition: all;
  transition-duration: 1ms;
  transition-timing-function: ease-in-out;
}
.custom-css:hover {
  width: 200px;
}

/* Additional custom styles outside Tailwind directives */
